{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": false,
	"useTabs": true,
	"endOfLine": "crlf",
	"plugins": [
		"prettier-plugin-organize-imports",
		"prettier-plugin-tailwindcss"
	],
	"tailwindConfig": "./tailwind.config.ts"
}
